<div class="ef_base"></div>
            <div class='ef_container' {{form_task}}>
                <div class='ef_wrapper'>
                    <div>
                        <div class='ef_title'>
                            <span class='ef_title_title'>Справочник "{{handbook_alias}}":  </span>
                            <span class='ef_title_method'>{{handbook_method}}</span>
                        </div>
            
                        <div class='ef_alert'></div>
            
                        <div class='ef_data tabs'>
                            <div class="tab_headers"><div class="row no-gutters"><div class="col order-24">
                            <a class="tabs_link  undefined" href='#tab_attachments'  >Приложения</a>
                        </div><div class="col order-24">
                            <a class="tabs_link  undefined" href='#tab_conditions'  >Условия</a>
                        </div><div class="col order-24">
                            <a class="tabs_link  undefined" href='#tab_contacts'  >Контакты</a>
                        </div><div class="col order-24">
                            <a class="tabs_link  undefined" href='#tab_estimates'  >Сметы</a>
                        </div><div class="col order-24">
                            <a class="tabs_link  undefined" href='#tab_history'  >История</a>
                        </div><div class="col order-1">
                            <a class="tabs_link tabs_link_active undefined" href='#tab_main' undefined undefined>Основное</a>
                        </div><div class="col order-24">
                            <a class="tabs_link  undefined" href='#tab_project_team'  repair_work>Команда</a>
                        </div></div></div>
                            <div class="tab_body"><form class="tabs_pane " id="tab_attachments"><section style="display: none" class="form_attachments_meta" attachments_path={{attachments_path}} record_id = {{record_id}}></section>
<section class="tab_data">
    {{attachments}}
</section></form><form class="tabs_pane " id="tab_conditions"><section style="display: none" record_id = {{record_id}}></section>
<section class="tab_data">
    <div class="summary">
        <span>Глоб коэф заказчика:</span>
        <span>{{customer_coef}}</span>
        <span class="tab_form_btn_plug" ef_only></span>
    </div>

    <details {{#each estimate_cond_block_attributes}}{{@key}}={{this}} {{/each}} title="block_estimate_condition" data-nesting="2">
        <summary>
            <span>Схема расчета</span>
            <span>
                <input name="estimate_conditions" class="paired_field {{#if estimate_cond_block_attributes.data-addfromlist}}{{else}}active_field{{/if}}" type="text" record_id="{{estimate_conditions}}" value="{{estcond_title}}" placeholder="новая запись" readonly tab_form_field>
                <div class="paired_field {{#if estimate_cond_block_attributes.data-addfromlist}}active_field{{/if}}">
                    {{list__estimate_conditions}}
                </div>
            </span>

            {{#if estimate_cond_block_attributes.data-addfromlist_btn}}
                <span class="tab_form_buttons"><div class="tab_btn_addfromlist"><div></div></div></span>
            {{/if}}
            <span class="tab_form_btn_plug"></span>
        </summary>
        <table class='tab_table'>
            {{> blocks/block_estimate_condition}}
        </table>
    </details>
</section></form><form class="tabs_pane " id="tab_contacts"><section style="display: none" record_id = {{record_id}}></section>
<section class="tab_data">
    <div title="block_customer_contacts">
        {{> blocks/customer_contacts}}
    </div>
    <br>
    <div title="block_customer_contact_persons">
        {{> blocks/customer_contact_persons}}
    </div>
</section></form><form class="tabs_pane " id="tab_estimates"><section style="display: none" record_id = {{record_id}}></section>
<section class="tab_data">
    {{estimates}}
</section></form><form class="tabs_pane " id="tab_history"><section style="display: none" record_id = {{record_id}}></section>
<section class="tab_data">
    <table class="tab_table">
        <tr>
            <td>Обращение:</td>
            <td>
                <input name="measurement_date_of_request" class="paired_field active_field" type="text" value="{{measurement_date_of_request}}" readonly tab_form_field>
                <div class="paired_field">
                    <input class="" type="date">
                </div>
            </td>
        </tr>
        <tr>
            <td>Замер:</td>
            <td>
                <input name="measurement_date_of_measurement" class="paired_field active_field" type="text" value="{{measurement_date_of_measurement}}" readonly tab_form_field>
                <div class="paired_field">
                    <input class="" type="date">
                </div>
            </td>
        </tr>
        <tr>
            <td>Смета:</td>
            <td>
                <input name="measurement_date_of_estimate" class="paired_field active_field" type="text" value="{{measurement_date_of_estimate}}" readonly tab_form_field>
                <div class="paired_field">
                    <input class="" type="date">
                </div>
            </td>
        </tr>
    </table>
</section></form><form class="tabs_pane tabs_pane_show" id="tab_main"><section style="display: none" record_id = "{{#if record_id}}{{record_id}}{{else}}new_record{{/if}}"></section>
<section class="tab_data">
    <details {{#each customer_block_attributes}}{{@key}}={{this}} {{/each}} title="block_customer" data-nesting="1">
        <summary data-obligatory_field>
            <span recommended>Заказчик</span>
            <span>
                <input name="customer" class="paired_field {{#if customer_block_attributes.data-addfromlist}}{{else}}active_field{{/if}}" type="text" record_id="{{customer}}" value="{{customer_alias}}" placeholder="новая запись" readonly tab_form_field>
                <div class="paired_field {{#if customer_block_attributes.data-addfromlist}}active_field{{/if}}">
                    {{list__customer}}
                </div>
            </span>

            {{#if customer_block_attributes.data-addfromlist_btn}}
                <span class="tab_form_buttons"><div class="tab_btn_addfromlist"><div></div></div></span>
            {{else}}
                <span class="tab_form_btn_plug"></span>
            {{/if}}
        </summary>
        <table class="tab_table">
            {{> blocks/block_customer}}
        </table>
    </details>

    <details {{#each object_block_attributes}}{{@key}}={{this}} {{/each}} title="block_object" data-nesting="2">
        <summary data-obligatory_field>
            <span>Объект</span>
            <span>
                <input name="object" class="paired_field {{#if object_block_attributes.data-addfromlist}}{{else}}active_field{{/if}}" type="text" record_id="{{object}}" value="{{object_title}}" placeholder="новая запись" readonly tab_form_field>
                <div class="paired_field {{#if object_block_attributes.data-addfromlist}}active_field{{/if}}">
                    {{list__object}}
                </div>
            </span>

            {{#if object_block_attributes.data-addfromlist_btn}}
                <span class="tab_form_buttons"><div class="tab_btn_addfromlist"><div></div></div></span>
            {{else}}
                <span class="tab_form_btn_plug"></span>
            {{/if}}
        </summary>
        <table class="tab_table">
            {{> blocks/block_object}}
        </table>
    </details>

    <details {{#each measurement_block_attributes}}{{@key}}={{this}} {{/each}} title="block_measurement" data-nesting="3">
        <summary>
            <span>Заявка</span>
            <span>
                <input name="measurement" class="paired_field {{#if measurement_block_attributes.data-addfromlist}}{{else}}active_field{{/if}}" type="text" record_id="{{measurement}}" value="{{measurement_number}}" placeholder="новая запись"
                       readonly tab_form_field>
                <div class="paired_field {{#if measurement_block_attributes.data-addfromlist}}active_field{{/if}}">
                    {{list__measurement}}
                </div>
            </span>

            {{#if measurement_block_attributes.data-addfromlist_btn}}
                <span class="tab_form_buttons"><div class="tab_btn_addfromlist"><div></div></div></span>
            {{else}}
                <span class="tab_form_btn_plug"></span>
            {{/if}}
        </summary>
        <table class='tab_table'>
            {{> blocks/block_measurement}}
        </table>
    </details>
</section>
<br>
{{> comment}}</form><form class="tabs_pane " id="tab_project_team"><section style="display: none" record_id = {{record_id}}></section>
<section class="tab_data">
    {{project_team}}
</section></form></div>
                        </div>
            
                        <div class='ef_buttons'>
                            <div class="btn_wrapper">
                                <button class="btn" id="btn_save" formaction="{{handbook_path}}" value="{{handbook_title}}" record_id="{{record_id}}">Сохранить</button>
                                <button class="btn" id="btn_cancel">Выход</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>