<section style="display: none" record_id = "{{#if record_id}}{{record_id}}{{else}}new_record{{/if}}"></section>
<section class="tab_data">
    <details {{#each department_block_attributes}}{{@key}}={{this}} {{/each}} title="block_department" data-nesting="1">
        <summary>
            <span>Подразделение</span>
            <span>
                <input name="department" class="paired_field {{#if department_block_attributes.data-addfromlist}}{{else}}active_field{{/if}}" type="text" record_id="{{department}}" value="{{department_title}}" placeholder="новая запись" readonly tab_form_field>
                <div class="paired_field {{#if department_block_attributes.data-addfromlist}}active_field{{/if}}">
                    {{list__department}}
                </div>
            </span>

            {{#if department_block_attributes.data-addfromlist_btn}}
                <span class="tab_form_buttons"><div class="tab_btn_addfromlist"><div></div></div></span>
            {{/if}}
            <span class="tab_form_btn_plug"></span>
        </summary>
        <table class="tab_table">
            {{> blocks/block_department}}
        </table>
    </details>
</section>
<br>
{{> comment}}