                                        <section style="display: none" record_id = {{record_id}}></section>
                                        <section class="tab_data">
                                            <br>
                                            <br>
                                            <div style="Font-size: 25px; padding: 20%; white-space: nowrap;">Контент в разработке</div>
<!--                                            <details>-->
<!--                                                <summary>-->
<!--                                                    <span>Предварительная смета:</span>-->
<!--                                                    <span><a href="{{first_estimate_path}}" target="_blank" link_for="first_estimate_path">ссылка</a></span>-->
<!--                                                </summary>-->
<!--                                                <table class="tab_table">-->
<!--                                                    <tr>-->
<!--                                                        <td>Стоимость:</td>-->
<!--                                                        <td><input name="first_estimate_cost" class="" type="number" value="{{first_estimate_cost}}" readonly tab_form_field></td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td>Дата:</td>-->
<!--                                                        <td>-->
<!--                                                            <input name="first_estimate_date" class="paired_field active_field" type="text" value="{{first_estimate_date}}" tabindex=""-->
<!--                                                                   readonly tab_form_field>-->
<!--                                                            <div class="paired_field">-->
<!--                                                                <input class="" type="date">-->
<!--                                                            </div>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td>путь:</td>-->
<!--                                                        <td><input name="first_estimate_path" type="text" value="{{first_estimate_path}}" readonly tab_form_field attachment></td>-->
<!--                                                    </tr>-->
<!--                                                </table>-->
<!--                                            </details>-->
<!--                                            <details>-->
<!--                                                <summary id='tab_contr_cost_2'>-->
<!--                                                    <span>Уточненная смета:</span>-->
<!--                                                    <span><a href="{{last_estimate_path}}" target="_blank" link_for="last_estimate_path">ссылка</a></span>-->
<!--                                                </summary>-->
<!--                                                <table class="tab_table">-->
<!--                                                    <tr>-->
<!--                                                        <td>Стоимость:</td>-->
<!--                                                        <td><input name="last_estimate_cost" class="" type="number" value="{{last_estimate_cost}}" readonly tab_form_field></td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td>Дата:</td>-->
<!--                                                        <td>-->
<!--                                                            <input name="last_estimate_date" class="paired_field active_field" type="text" value="{{last_estimate_date}}" tabindex=""-->
<!--                                                                   readonly tab_form_field>-->
<!--                                                            <div class="paired_field">-->
<!--                                                                <input class="" type="date">-->
<!--                                                            </div>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td>путь:</td>-->
<!--                                                        <td><input name="last_estimate_path" type="text" value="{{last_estimate_path}}" readonly tab_form_field attachment></td>-->
<!--                                                    </tr>-->
<!--                                                </table>-->
<!--                                            </details>-->
<!--                                            <details>-->
<!--                                                <summary id='tab_contr_cost_3'>-->
<!--                                                    <span>Финальный отчет работы:</span>-->
<!--                                                    <span><a href="{{last_work_report_path}}" target="_blank" link_for="last_work_report_path">ссылка</a></span>-->
<!--                                                </summary>-->
<!--                                                <table class="tab_table">-->
<!--                                                    <tr>-->
<!--                                                        <td>Стоимость:</td>-->
<!--                                                        <td><input name="last_work_report_cost" class="" type="number" value="{{last_work_report_cost}}" readonly tab_form_field></td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td>Дата:</td>-->
<!--                                                        <td>-->
<!--                                                            <input name="last_work_report_date" class="paired_field active_field" type="text" value="{{last_work_report_date}}" readonly tab_form_field>-->
<!--                                                            <div class="paired_field">-->
<!--                                                                <input class="" type="date">-->
<!--                                                            </div>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td>путь:</td>-->
<!--                                                        <td><input name="last_work_report_path" type="text" value="{{last_work_report_path}}" readonly tab_form_field attachment></td>-->
<!--                                                    </tr>-->
<!--                                                </table>-->
<!--                                            </details>-->
<!--                                            <details>-->
<!--                                                <summary id='tab_contr_cost_4'>-->
<!--                                                    <span>Финальный отчет материалы:</span>-->
<!--                                                    <span><a href="{{last_mat_report_path}}" target="_blank" link_for="last_mat_report_path">ссылка</a></span>-->
<!--                                                </summary>-->
<!--                                                <table class="tab_table">-->
<!--                                                    <tr>-->
<!--                                                        <td>Стоимость:</td>-->
<!--                                                        <td><input name="last_mat_report_cost" class="" type="number" value="{{last_mat_report_cost}}" readonly tab_form_field></td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td>Дата:</td>-->
<!--                                                        <td>-->
<!--                                                            <input name="last_mat_report_date" class="paired_field active_field" type="text" value="{{last_mat_report_date}}"-->
<!--                                                                   tabindex=""-->
<!--                                                                   readonly tab_form_field>-->
<!--                                                            <div class="paired_field">-->
<!--                                                                <input class="" type="date">-->
<!--                                                            </div>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td>путь:</td>-->
<!--                                                        <td><input name="last_mat_report_path" type="text" value="{{last_mat_report_path}}" readonly tab_form_field attachment></td>-->
<!--                                                    </tr>-->
<!--                                                </table>-->
<!--                                            </details>-->
                                        </section>