                                        <section style="display: none" record_id = {{record_id}}></section>
                                        <section class="tab_data">
                                            <br>
                                            <br>
                                            <div style="Font-size: 25px; padding: 20%; white-space: nowrap;">Контент в разработке</div>
<!--                                            <table class="tab_table">-->
<!--                                                <tr>-->
<!--                                                    <td>Обращение:</td>-->
<!--                                                    <td>-->
<!--                                                        <input name="application_date" class="paired_field active_field" type="text" value="{{request_date}}" readonly tab_form_field>-->
<!--                                                        <div class="paired_field">-->
<!--                                                            <input class="" type="date">-->
<!--                                                        </div>-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Замер:</td>-->
<!--                                                    <td>-->
<!--                                                        <input name="measurement_date" class="paired_field active_field" type="text" value="{{measurement_date}}" readonly tab_form_field>-->
<!--                                                        <div class="paired_field">-->
<!--                                                            <input class="" type="date">-->
<!--                                                        </div>-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Смета:</td>-->
<!--                                                    <td>-->
<!--                                                        <input name="estimate_date" class="paired_field active_field" type="text" value="{{estimate_date}}" readonly tab_form_field>-->
<!--                                                        <div class="paired_field">-->
<!--                                                            <input class="" type="date">-->
<!--                                                        </div>-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Подписание договора:</td>-->
<!--                                                    <td>-->
<!--                                                        <input name="signing_date" class="paired_field active_field" type="text" value="{{signing_date}}" readonly tab_form_field>-->
<!--                                                        <div class="paired_field">-->
<!--                                                            <input class="" type="date">-->
<!--                                                        </div>-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Выезд дизайнера:</td>-->
<!--                                                    <td>-->
<!--                                                        <input name="design_start_date" class="paired_field active_field" type="text" value="{{design_start_date}}" readonly tab_form_field>-->
<!--                                                        <div class="paired_field">-->
<!--                                                            <input class="" type="date">-->
<!--                                                        </div>-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Согласование проекта:</td>-->
<!--                                                    <td>-->
<!--                                                        <input name="project_signing_date" class="paired_field active_field" type="text" value="{{project_signing_date}}" readonly tab_form_field>-->
<!--                                                        <div class="paired_field">-->
<!--                                                            <input class="" type="date">-->
<!--                                                        </div>-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Начало работ:</td>-->
<!--                                                    <td>-->
<!--                                                        <input name="work_start_date" class="paired_field active_field" type="text" value="{{work_start_date}}" readonly tab_form_field>-->
<!--                                                        <div class="paired_field">-->
<!--                                                            <input class="" type="date">-->
<!--                                                        </div>-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Окончание работ:</td>-->
<!--                                                    <td>-->
<!--                                                        <input name="work_end_date" class="paired_field active_field" type="text" value="{{work_end_date}}" readonly tab_form_field>-->
<!--                                                        <div class="paired_field">-->
<!--                                                            <input class="" type="date">-->
<!--                                                        </div>-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                            </table>-->

<!--                                            <br>-->
<!--                                            <table class="tab_table">-->
<!--                                                <tr>-->
<!--                                                    <td>Связанные договоры:</td>-->
<!--                                                    <td><a href='contracts.html' target=_blank>ссылка</a></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Все договоры клиента:</td>-->
<!--                                                    <td><a href='contracts.html' target=_blank>ссылка</a></td>-->
<!--                                                </tr>-->
<!--                                            </table>-->
                                        </section>