<section style="display: none" record_id = {{record_id}}></section>
<section class="tab_data">
    <table class="tab_table">
        <tr>
            <td>Дата создания:</td>
            <td>
                <input name="rep_date_of_entry" class="paired_field active_field" type="text" value="{{rep_date_of_entry}}" readonly
                       tab_form_field>
                <div class="paired_field">
                    <input class="" type="date">
                </div>
            </td>
        </tr>
        <tr>
            <td>Дата отправки:</td>
            <td>
                <input name="rep_date_of_shipment" class="paired_field active_field" type="text" value="{{rep_date_of_shipment}}" readonly
                       tab_form_field>
                <div class="paired_field">
                    <input class="" type="date">
                </div>
            </td>
        </tr>
        <tr>
            <td>Дата получения:</td>
            <td>
                <input name="rep_date_of_receipt" class="paired_field active_field" type="text" value="{{rep_date_of_receipt}}" readonly tab_form_field>
                <div class="paired_field">
                    <input class="" type="date">
                </div>
            </td>
        </tr>
        <tr>
            <td>последнее изменение:</td>
            <td>
                <input name="rep_date_of_button" class="paired_field active_field" type="text" value="{{rep_date_of_button}}" readonly
                       tab_form_field>
                <div class="paired_field">
                    <input class="" type="date">
                </div>
            </td>
        </tr>
    </table>
</section>